/*for destop:*/
*{
    font-size: 55px;
    font-size: 1.5vw;
}
/*for mobile:*/
@media only screen and (max-width: 600px) {
    *{
        font-size: 55px;
        font-size: 5.5vw;
    }
}

.version {
    font-size: 10px;
}

.app-container {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-data {
    display: flex;
    justify-content: space-between;
}

.button-generate {
    margin-top: 5vw;
}

.message-edit-container {
    display: flex;
    flex-direction: column;
}